<div id="page-container">
  <app-header></app-header>
  <div id="page-content">
    <h3>Send POST request</h3>
    <form [formGroup]="postForm" class="post-form">
      <div>
        <mat-form-field style="width: 18rem;">
          <input [(ngModel)]="requestData.issuer" [ngModelOptions]="{standalone: true}" matInput placeholder="Issuer">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 18rem;">
          <input [(ngModel)]="requestData.subject" [ngModelOptions]="{standalone: true}" matInput placeholder="Subject">
        </mat-form-field>
      </div>
      <div>
        <input style="width: 18rem;" [(ngModel)]="requestData.expiration" [ngModelOptions]="{standalone: true}" id="datetime"
               min="1900-01-01T00:00:00" name="datetime"
               placeholder="Datetime" step="1" type="datetime-local">
      </div>
      <div>
        <h5>Key - value list</h5>
      </div>
      <div class="form-standard" fxLayout="column" fxflex="100%">
        <div *ngFor="let setting of postForm.controls.claims.controls; let claimIndex = index;" formArrayName="claims">
          <div [formGroupName]="claimIndex" fxFlex="100%" fxLayout="column">
            <mat-form-field class="form-input">
              <input formControlName="key{{claimIndex}}" matInput maxlength="255" name="key" placeholder="Key">
            </mat-form-field>
            <mat-form-field class="form-input">
              <input formControlName="value{{claimIndex}}" matInput maxlength="255" name="value" placeholder="Value">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <mat-card-content class="mat-card-content">
          <div fxLayout="row" fxLayoutAlign="start stretch" class="form-standard">
            <div fxFlex.gt-md="100" fxFlex.xs="100">
              <div fxLayoutAlign="space-around stretch">
                <button type="button" mat-raised-button class="add-row-button" (click)="addConfigBlock()">Add row</button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </div>
      <ng-container *ngIf="postRequestToken !== undefined && postRequestToken.length > 0">
        <div class="received-token-box">
          Received token: <strong>{{postRequestToken}}</strong>
        </div>
      </ng-container>
      <div>
        <button (click)="sendPostRequest($event)" class="submit-button" mat-flat-button>Submit</button>
      </div>
    </form>
    <hr/>
    <h3>Send GET request</h3>
    <ng-container *ngIf="getRequestToken !== undefined && getRequestToken.length > 0">
      <div class="received-token-box">
        Received token: <strong>{{getRequestToken}}</strong>
      </div>
    </ng-container>
    <div class="send-get-button">
      <button (click)="sendGetRequest($event)" class="submit-button" mat-flat-button>Send</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
